@model CAppIglesia.Models.Ofrendas

@{
    ViewData["Title"] = "Sistema Contable IBPD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

<div class="container">
    <div class="row card px-2 ax-2 mx-4 border">

        <div class="card-header">
            <h1 class="text-left"> Registrar Ofrendas</h1>
        </div>
        <br />
        <div class="col-8 offset-2 ">
            <form method="post" asp-action="Create">
                <div asp-validation-summary="ModelOnly " class="text-danger"></div>                
                
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Cantidad" class="label-control"></label>

                    </div>

                    <div class="col-8">
                        <input asp-for="Cantidad" class="form-control" />
                        <span asp-validation-for="Cantidad"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FechaOfrenda" class="label-control"></label>
                    </div>

                    <div class="col-8">
                        <input asp-for="FechaOfrenda" class="form-control" />
                        <span asp-validation-for="FechaOfrenda"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="row offset-5">
                        <div class="col ">
                            <input type="submit" class="btn btn-success btn-block" value="Guardar" />

                        </div>
                        
                        <div class="col ">
                            <a asp-action="Index" class="btn btn-primary btn-block"> Regresar</a>

                        </div>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

