<div class="row">
    <div class="col">
        <button asp-action="Create" type="submit" class="btn btn-primary form-control">Creaar</button>
 -
    </div>
    &nbsp;
    <div class="col">
        <a asp-action="Index" class="btn btn-success col-form-label-sm">Regresar </a>

    </div>

</div>